.header {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.header li {
  margin: 0.1%;
}

.title {
  position: absolute;
  top: -10px;
  left: 10px;
  color: rgb(151, 31, 31);
}

.active {
  font-weight: bold; 
}

 
