*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site-header {
  padding: 20%;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1px solid #f2f2f2;
  margin-left: auto;
  margin-bottom: 20px;
}

.site-header h1 {
  color: #000;
  font-size: 24px;
}

.links {
  margin-left: auto;
  margin-right: 50px;
}

.linklist {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #000;
  font-size:1.2rem;
}

.linklist:hover {
  color: #5c3803;
}

.categories {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.BooksPage {
  width: 100%;
  list-style-type: none;
}

.BooksPage li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 20px;
}

  .add-book-form {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .add-book-form input,
  .add-book-form button {
    margin-bottom: 10px;
    margin-left: 30px;
  }






/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
