 *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  background-color: rgb(240, 234, 234);
  display: flex; 
  justify-content: left;  
  color: 3px solid black;
}

 