*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  background-color: rgb(156, 150, 150);
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

#site-header {
  display: flex;
  justify-content: center;
}

#ul {
  display: flex;
  justify-content: center;
}
